body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form {
  align-content: center;
}

button {
  background-color: transparent;
  border-radius: 12px;
  border: 2px solid gray;
  font-size: 18px;
}

button:hover {
  background-color: gray;
  transition: 1s;
}

input {
  border-radius: 12px;
}

.App {
  text-align: center;
}

#removeButton {
  padding: 4px 4px;
  font-size: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.note {
  color: grey;
  padding-top: 5px;
  font-size: 15px;
}

#confirmRemove {
  padding: 12px 12px;
  align-content: right;
}

.errorMessage {
  padding: 12px 12px;
  border: 2px solid black;
  background-color: transparent;
  margin-bottom: 20px;
}